*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Header and nav styles */
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    
    background-position: bottom right, left;
} 
.hardy-image{
    width: 584px;
    height: 676px;
}   
nav{
    display: flex;
    justify-content: space-between;
    margin: 55px 200px;

}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav ul{
    display: flex;
    align-items: center;
    
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
   
}
.text-orange{
    color: #FD6E0A;
}
.btn-primary{
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;

    border: 0;
    padding: 18px 35px;

    /* font */
    font-weight: 700;
    font-size: 20px;

    /* White Color */
    color: #FFFFFF;
}
.btn-secondary{
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    height: 64px;
    margin-left: 30px;
    padding: 18px 35px;

    /* font */
    font-weight: 700;
    font-size: 20px;

    color: #FD6E0A;

}
/* banner-styles  */
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
    /* easy to understand */
    /* border: 1px solid black ; */
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
    /* easy to understand */
    /* border: 1px solid black ; */
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
    width: 498px;
    height: 116px;
    margin-bottom: 20px;
    /* easy to understand */
    /* border: 1px solid black ; */
}
.banner-paragraph{
    font-weight: 400;
    font-size: 18px;
    /* Dark 03 */
    color: #757575;;
    margin-bottom: 30px;
    /* easy to understand */
    /* border: 1px solid black ;*/
}
/* main  */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about section style */
.about{
    margin-top: 130px;
    
    padding: 130px 150px;

    background: #FFF8F3;
    border-radius: 10px;
}
.section-description{
   
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */

    text-align: center;

    /* Dark 03 */

    color: #757575;
}
.section-title{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    /* identical to box height */

    text-align: center;

    /* Dark 01 */

    color: #181818;
}
/* about  */
.about-info-container{
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
    color: #757575;
}
.about .info-description{
    font-weight: 400;
    font-size: 20px;
    color: #474747;

}